/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}


p.contact-icons { // Targeting the paragraph tag with the class
  text-align: left;
  // margin-bottom: 0; // Adjust or remove if spacing is wrong
}

// Style the social icons links within the paragraph
p.contact-icons a {
  // Set the icon color to use the global icon color variable
  color: var(--global-icon-color);
  // Increase the size of the icon itself (adjust value as needed)
  font-size: 1.5em; // e.g., 1.3 times the normal text size
  margin-right: 8px; // Add some space between icons if needed

  // Optional: Define a hover color (e.g., use the theme's main color)
  &:hover {
    color: var(--global-theme-color);
  }
}

// .post > .row > .col-md-9 > .post-header > .post-title {
//   margin-bottom: 0.25rem;
//   font-size: 2.2rem;
//   font-weight: bold;
// }


.post > .row > .col-md-3 img {
  max-width: 210px; // Set your desired maximum width in pixels
  // border-radius: 20px !important;
  // img-fluid class already provides width: 100% and height: auto
  margin: auto
  // Add margin: auto if you want it centered within the column when max-width is reached
  // margin-left: auto;
  // margin-right: auto;
  // display: block; // Needed for margin: auto centering
}

.post article h2 {
  // Adjust spacing below the H2 if needed (before the line)
  // margin-bottom: 1rem;
  margin-top: 2rem;
}

.post article h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--global-divider-color);
  margin-top: 0.75rem; // Space between H2 text and line
  margin-bottom: 1rem; // Space after line
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
